/*This file is empty right now but I could work on that one day*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toTopBtn {
    position: fixed;
    bottom: 5px;
    right: 95%;
    z-index: 99;
    border: none;
    outline: none;
    background-color:firebrick;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
}

.toTopBtn:hover {
    background-color:gray;
}

header {
    background-color: steelblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    height: auto;
    justify-content:center;
    display:contents;
}   
nav {
    background-color: cadetblue;
    overflow: hidden;
}
nav ul {
    display:contents;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    top: 50%;
    justify-content:center;
}

nav li {
    float:left;
    padding: 5px;
}

nav a {
    text-decoration: none;
}
nav a:hover {
    background-color:darkblue
}
.active {
    background-color: azure;
}
main {
    background-color:lightslategray;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
}
footer {
    background-color:darkslategray;
    color:antiquewhite;
    text-align: center;
}

.photo {
    border: 2px solid white;
    margin: 3px; 
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.photo:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

/* modal bits*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(2,2,2);
    background-color: rgba(2,2,2,0.9);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f5f5f5;
    font-size: 50px;
    font-weight: bold;
    transition: 0.2s;
}

.close:hover, .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.mattSlides {
    display: none;
}

.prev {
    cursor: pointer;
    position:fixed;
    top: 50%;
    left: 0;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;

}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
    height: 30px;
}

.next {
    cursor: pointer;
    position:fixed;
    top: 50%;
    right: 0;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;

}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}

.row {
    margin: 8px -8px;
}

.row,
.row > .col {
    padding: 4px;
}

.col {
    float: left;
width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 900px) {

    .col{
         width: 50%;
    }
}
@media screen and (max-width: 600px) {
    nav {
        float: none;
        display: block;
    }

    .col {
        width: 100%;
    }
}