/*This file is empty right now but I could work on that one day*/
* {
  margin:0;
  padding:2px;
  box-sizing: border-box;
}

.navi {
width: 100%;
background-color: azure;
overflow: auto;
}

.navi a {
  float: left;
  padding: 15px;
  color: pink;
  text-align: center;
}

a.active {
 background-color: gold; 
}

.navi a:hover {
 background-color: crimson; 
}
